# CONFIGURACIÓN AFIP / ARCA
AFIP_CUIT=20269957361
AFIP_PUNTO_VENTA=9
AFIP_TIPO_CBTE=11

# ARCHIVOS (Deben estar en la carpeta Registracion)
AFIP_CERT_FILE=certificado.crt
AFIP_KEY_FILE=privada.key

# ENTORNOS (Descomentar para Producción)
# Homologación (Pruebas)
AFIP_WSAA_URL=https://wsaahomo.afip.gov.ar/ws/services/LoginCms
AFIP_WSFE_URL=https://wswhomo.afip.gov.ar/wsfev1/service.asmx

# Producción (Real)
# AFIP_WSAA_URL=https://wsaa.afip.gov.ar/ws/services/LoginCms
# AFIP_WSFE_URL=https://servicios1.afip.gov.ar/wsfev1/service.asmx

PORT=3000
